<!DOCTYPE html>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Our theme -->
<link rel="stylesheet" href="style.css">

<!-- Controllers -->
<script src="javascripts/homeController.js"></script>

<html ng-app="homeApp">
    <head> </head>
    <body ng-controller="HomeController" ng-init="init()">
    


        <article class="page">
            <h2>On the Subject of Complicated Wires</h2>
            <img src="assets/VennWireComponent.svg" class="diagram">
            <form>
                <section class="inputs">
                    <div>
                        <input type="checkbox" ng-model="wireModel.red" id="Red">
                        <label for="Red" class="red">Red</label>
                    </div>

                    <div>
                        <input type="checkbox" ng-model="wireModel.blue" id="Blue">
                        <label for="Blue" class="blue">Blue</label>
                    </div>

                    <div>
                        <input type="checkbox" ng-model="wireModel.led" id="LED">
                        <label for="LED">
                            <i class="fa fa-circle-o" ng-hide="wireModel.led"></i>
                            <i class="fa fa-circle" ng-show="wireModel.led"></i>
                            <span class="small-text">(LED)</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" ng-model="wireModel.star" id="STAR">
                        <label for="STAR">
                            <i class="fa fa-star-o" ng-hide="wireModel.star"></i>
                            <i class="fa fa-star" ng-show="wireModel.star"></i>
                            <span class="small-text">(STAR)</span>
                        </label>
                    </div>

                    <div>
                        <input type="checkbox" ng-model="wireModel.none" id="None">
                        <label for="None">N/A</label>
                    </div>
                </section>

                <section class="buttons cf">
                    <button type="button" class="button" ng-click="addWire(wireModel)">Add Wire</button>
                    <button type="button" class="button" ng-click="resetTheThings()">Reset</button>
                </section>
            </form>

            <section class="output" ng-show="Wires.length > 0">
                <ul class="wires">
                    <li class="wire" ng-repeat="wire in Wires">
                        <div>{{wire.count}}</div>
                        <div class="col-md-4">{{wire.answer}}</div>
                    </li>
                <ul>
            </section>
        </article>
        
    </body>
<html>