.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after { clear: both; }

body {
	background-image: url(assets/web-background.jpg);
	font-family: sans-serif;
	margin: 0;
	padding: 16px;
}

h2 {
	margin-top: 0;
}

input,
label {
	cursor: pointer;
}

label {
	margin-bottom: 16px;
}

.page {
    background-color: #fff;
    border: 1px solid #222;
    box-shadow: #222 0.0em 0em 0.6em;
    padding: 16px;
    position: relative;
}

.diagram {
	height: 100px;
	right: 8px;
	position: absolute;
	top: 8px;
	width: 100px;
}

.output {
	border-top: 1px solid #b0b0b0;
	margin-top: 16px;
	padding-top: 16px;
}

.red {
	color: #bb2222;
}

.blue {
	color: #2222bb;
}

.small-text {
	font-size: 10px;
}

.wires {
	margin: 0;
	padding: 0 16px;
}

.wire {
	margin-bottom: 8px;
}

.buttons {
	padding-top: 16px;
}

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #fff;
	border: 1px solid #888;
	float: left;
	font-size: 16px;
	margin-right: 16px;
	padding: 6px 8px;
}